button {
  border: none;
  background-color: black;
  padding: 10px 18px;
  color: white;
  font-family: "PT Serif", serif;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 7px;
}

.btn-secondary {
  background-color: #fff;
  color: black;
}

button:hover{
  background-color: rgba(21, 21, 21, 0.873);
}

.btn-secondary:hover {
  background-color: #ffffffb4;
}

button:active{
  background-color: black;
  transition: 1;
}

.btn-secondary:active {
  background-color: #fff;
}

