button {
  border: none;
  background-color: black;
  padding: 8px 18px;
  color: white;
  font-family: "PT Serif", serif;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 7px;
}

.btn-secondary {
  background-color: #fff;
  color: black;
}
