.shopNow-container{
  padding: var(--padding-sm);
  background-color:  rgb(250, 231, 234);
}

.shopNow{
  margin: 80px auto;
}
.shopNow__image {
  flex-basis: 40%;
  max-width: 100%;
}

.shopNow__image-1 {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.shopNow__description {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  text-align: center;
  gap: 40px;
  padding: var(--padding-sm);
}

.shopNow__image-two{
  order: 2;
}

.shopNow__description-two{
  order: 1;
}

.shopNow__description__btn {
  margin: auto;
}

@media only screen and (min-width: 768px){
  .shopNow-container{
    padding: var(--padding-lg);
  }

  .shopNow {
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .shopNow__description { padding: var(--padding-lg);}
}