.product{
  margin: 80px auto;
}
.product__image {
  flex-basis: 40%;
  max-width: 100%;
}


.product__image-1 {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.product__description {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  text-align: center;
  gap: 40px;
}

.product__image-two{
  order: 2;
}

.product__description-two{
  order: 1;
}

.product__description__btn {
  border: none;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  width: 200px;
  margin: auto;
}

@media only screen and (min-width: 768px){
  .product {
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}