.hero {
  min-height: 100vh;
  display: flex;
  
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: var(--padding-sm);
  background-repeat: no-repeat;
  background-image: url("../../assets/theone.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.hero__title {
  font-size: 1.4em;
}

.hero__subtitle {
  font-weight: 300;
  font-size: 2em;
 
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: var(--padding-lg);
  }
}
