.sign-up {
  padding: var(--padding-sm);
  min-height: 52vh;
  max-width: 500px;
}

.sign-up__row-button {
  margin-top: 40px;
}

.sign-up__label {
  margin-bottom: 8px;
  display: block;
  font-size: 18px;
  margin-top: 20px;
}

.sign-up__link {
  margin-top: 10px;
  text-align: center;
}


@media only screen and (min-width: 768px) {
  .sign-up {
    padding: var(--padding-lg);
  }

  .sign-up__row {
    display: flex;
    gap: 20px;
  }

  .sign-up__row > div {
    flex: 1;
  }
}
