
.about{
  min-height: 50vh;
  padding: 10px;
}

.about__info{
  flex-basis: 60%;
}

.about__images{
  flex-basis: 40%;
}

.about__info-header{
  font-weight: 500;
  font-size: 2em;
}

.about__info-text{
  margin: 30px 0px;
}

.about__info-service{
  display: flex;
  gap: 20px;
}
.about__service{
  display: flex;
  align-items: center;
  gap: 10px;
}


.about__images{
  display: flex;
  gap: 20px;
}

.about__service-header{
  font-weight: 400;
  font-size: 3.2em;
}

.about__images-one{
  flex: 1;
}

.about__images-two{
  flex: 1;
}

.image-one, .image-two{
  height: 300px;
  object-fit: cover;
  width: 100%;
}


@media only screen and (min-width: 768px){
  .about{
    display: flex;
    padding: 20px;
    align-items: center;
  }
}

@media only screen and (min-width: 992px){

}



