.product {
  display: grid;
  gap: 20px;
  padding: var(--padding-sm);
  min-height: 52vh;
}

.product__card {
  padding: 20px 12px;
  background-color: #fae7ea;
}

.product__card__image {
  width: 250px;
  height: 250px;
  margin: auto;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .product {
    padding: var(--padding-lg);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .product {
    padding: var(--padding-lg);
    grid-template-columns: repeat(3, 1fr);
  }
}
