
.contact{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 20px;
  background-color: rgb(250, 231, 234);
  padding: var(--padding-sm);
  justify-content: center;
}

.contact__title{
  font-size: 24px;
}

.contact__email > input{
  border: none;
  border-bottom: 2px solid black;
  padding: 16px;
  font-size: 14px;
  width: 340px;
  background-color:  rgb(250, 231, 234);
}

input:active, input:focus{
  outline: none;
}

.contact__button {
  margin-left: 20px;
}

@media only screen and (min-width: 768px){
  .contact{
    flex-direction: row;
    gap: 0px;
    padding: var(--padding-lg);
  }

  .contact__email{
    margin-left: 40px;
  }
}
  