@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
:root {
  --primary-color: #000;
  --secondary-color: ;
  --padding-sm: 20px 10px;
  --padding-lg: 40px 20px;
  --padding-sm-wide: 40px 10px;
  --padding-lg-wide: 80px 20px;
  -webkit-transform: translate3d(0,0,0);
}
body {
  font-family: 'PT Serif', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: black;
  padding: 12px 20px;
  color: white;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
}
