@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root {
  --primary-color: #000;
  --secondary-color: ;
  --padding-sm: 20px 10px;
  --padding-lg: 40px 20px;
  --padding-sm-wide: 40px 10px;
  --padding-lg-wide: 80px 20px;
  -webkit-transform: translate3d(0, 0, 0);
}

body {
  font-family: "Merriweather", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
