.offer-header{
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 60px;
}

.offer {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.offer__container {
  display: flex;
  padding: var(--padding-sm-wide);
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer__catergory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.offer__image_1 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.offer__name {
  font-weight: 700;
  font-size: 26px;
}

@media only screen and (min-width: 768px) {
  .offer__container {
    padding: var(--padding-lg-wide);
  }

  .offer {
    flex-basis: 45%;
  }
}
