.offer {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.offer__catergory {
  display: flex;
  justify-content: space-between;
}

.offer__image_1 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.offer__name {
  font-weight: 700;
  font-size: 26px;
}

@media only screen and (min-width: 768px){
  .offer__container{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .offer{
    flex-basis: 50%;
  }
}
