.offer {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.offer__container {
  padding: var(--padding-sm);
}

.offer__catergory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-sm);
}

.offer__image_1 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.offer__name {
  font-weight: 700;
  font-size: 26px;
}

@media only screen and (min-width: 768px) {
  .offer__container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--padding-lg);
  }

  .offer {
    flex-basis: 45%;
  }
}
