.offer{
    display: flex;
    gap: 20px;
    align-items: center;
}

.offer__catergory{
    display: flex;
    justify-content: space-between;
}

.offer__image_1{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.offer__name{
    font-weight: 700;
    font-size: 26px;
}

